"*":
  "arduino-upload": {}
  "atom-beautify":
    general:
      _analyticsUserId: "ae612e20-03dc-402d-a8df-30f9064fbf49"
  "atom-ctags":
    autoBuildTagsWhenActive: true
  "command-palette":
    preserveLastSearch: true
  core:
    disabledPackages: [
      "symbols-view"
      "linter-reek"
      "arduino-upload"
    ]
    ignoredNames: [
      ".git"
      ".hg"
      ".svn"
      ".DS_Store"
      "._*"
      "Thumbs.db"
      ".tags"
      ".tags1"
    ]
    openEmptyEditorOnStart: false
    packagesWithKeymapsDisabled: [
      "copy-path"
    ]
    projectHome: "/Users/cory/Code"
    telemetryConsent: "no"
    themes: [
      "seti-ui"
      "seti-syntax"
    ]
    useCustomTitleBar: true
  editor:
    fontSize: 13
    showIndentGuide: true
    tabType: "soft"
  "exception-reporting":
    userId: "69e97a2c-a40b-a056-9615-6722c5e60933"
  "fuzzy-finder":
    preserveLastSearch: true
    searchAllPanes: true
  linter:
    showErrorPanel: false
    statusIconScope: "File"
  "linter-reek": {}
  "linter-rubocop":
    command: "/Users/cory/.rbenv/versions/2.3.1/bin/rubocop"
  "markdown-preview-plus": {}
  minimap:
    autoToggle: false
  "rails-rspec": {}
  "rubocop-auto-correct":
    correctFile: true
    rubocopCommandPath: "/Users/cory/.rbenv/shims/rubocop"
  "seti-syntax": {}
  "seti-ui":
    compactView: true
    disableAnimations: true
    themeColor: "Green"
  "split-diff":
    diffWords: true
    ignoreWhitespace: true
    leftEditorColor: "red"
    rightEditorColor: "green"
    syncHorizontalScroll: true
  tabs:
    addNewTabsAtEnd: true
  "tree-view":
    alwaysOpenExisting: true
    autoReveal: true
    hideIgnoredNames: true
    hideVcsIgnoredFiles: true
    squashDirectoryNames: true
  welcome:
    showOnStartup: false
