"*":
  "arduino-upload": {}
  "atom-beautify":
    general:
      _analyticsUserId: "ae612e20-03dc-402d-a8df-30f9064fbf49"
  "atom-ctags":
    autoBuildTagsWhenActive: true
    cmdArgs: "--exclude=node_modules --exclude=bower_components --exclude=./tmp --exclude=.git"
  "atom-ide-ui":
    "atom-ide-code-format":
      formatOnSave: true
  "command-palette":
    preserveLastSearch: true
  core:
    closeEmptyWindows: false
    disabledPackages: [
      "linter-reek"
      "atom-pair"
      "linter-jshint"
      "language-gfm"
      "markdown-preview"
      "linter"
    ]
    ignoredNames: [
      ".git"
      ".hg"
      ".svn"
      ".DS_Store"
      "._*"
      "Thumbs.db"
      ".tags"
      ".tags1"
      "node_modules"
      ".pioenvs"
      ".piolibdeps"
      ".clang_complete"
      ".gcc-flags.json"
    ]
    openEmptyEditorOnStart: false
    packagesWithKeymapsDisabled: [
      "copy-path"
    ]
    projectHome: "/Users/cory/Code"
    telemetryConsent: "no"
    themes: [
      "seti-ui"
      "seti-syntax"
    ]
    titleBar: "custom"
  editor:
    fontFamily: "Liga Inconsolata, Meslo"
    fontSize: 15
    lineHeight: 1.3
    showIndentGuide: true
    tabType: "soft"
  "exception-reporting":
    userId: "69e97a2c-a40b-a056-9615-6722c5e60933"
  "file-icons":
    coloured: false
  "file-types":
    ".envrc": "source.shell"
  "find-and-replace":
    liveSearchMinimumCharacters: 4
  "fuzzy-finder":
    ignoredNames: [
      "node_modules/*"
    ]
    preserveLastSearch: true
    searchAllPanes: true
  "go-plus":
    autocomplete: {}
  linter: {}
  "linter-eslint":
    lintHtmlFiles: true
  "linter-gcc":
    execPath: "/usr/local/Cellar/gcc/8.2.0/bin/gcc-8"
    gccDefaultCppFlags: "-c -Wall -std=c++11 -fsyntax-only"
  "linter-golinter":
    executablePath: "/Users/cory/go/bin/golint"
  "linter-jshint":
    disableWhenNoJshintrcFileInPath: true
  "linter-reek": {}
  "linter-rubocop":
    command: "/Users/cory/.rbenv/versions/2.6.3/bin/rubocop"
  "linter-sass-lint":
    noConfigDisable: true
  "linter-scss-lint":
    disableWhenNoConfigFileInPath: true
    executablePath: "/Users/cory/.rbenv/versions/2.3.1/bin/scss-lint"
  "linter-terraform-syntax":
    newVersion: true
    useTerraformFormat: true
  "linter-ui-default":
    panelHeight: 55
    showPanel: true
    useBusySignal: false
  "markdown-preview-plus": {}
  minimap:
    autoToggle: false
  "one-light-ui":
    layoutMode: "Compact"
  "prettier-atom":
    formatOnSaveOptions:
      enabled: true
      showInStatusBar: true
  "rails-rspec": {}
  "rubocop-auto-correct":
    correctFile: true
    rubocopCommandPath: "/Users/cory/.rbenv/shims/rubocop"
  "seti-syntax":
    themeColor: "Purple"
  "seti-ui":
    compactView: true
    disableAnimations: true
    themeColor: "Green"
  "split-diff":
    diffWords: true
    ignoreWhitespace: true
    leftEditorColor: "red"
    rightEditorColor: "green"
    syncHorizontalScroll: true
  tabs:
    addNewTabsAtEnd: true
  "terraform-fmt": {}
  "theme-switch": {}
  "theme-switcher":
    syntaxThemeOne: "seti-syntax"
    syntaxThemeTwo: "one-light-syntax"
    uiThemeOne: "seti-ui"
  "theme-toggler":
    darkSyntaxTheme: "seti-syntax"
    darkUiTheme: "seti-ui"
    lightSyntaxTheme: "one-light-syntax"
    lightUiTheme: "one-light-ui"
  "tool-bar":
    position: "Left"
  "tree-view":
    alwaysOpenExisting: true
    hideIgnoredNames: true
    squashDirectoryNames: true
  "vim-mode":
    useClipboardAsDefaultRegister: false
  "vim-mode-plus":
    useClipboardAsDefaultRegister: false
  welcome:
    showOnStartup: false
  whitespace: {}
